<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<div class="drugs_container">
	<div class="home">
		<h1>💉🂢</h1>
		<h2>Welcome to <%= title %></h2>
		<p>You may know this game as Drugs, Shithead, Karma, Threes, Palace, Shed or Space cowboys seeking revenge, i
			dont know, it has a lot of names. Regardless, this web app allows you to play it online with your friends.
		</p>
		<p>To start a game, someone from your group needs to 'Host' a room. probably pick someone responsible, you dont
			want someone making a room called something vulgure! That would be just awful. Then the other players need
			to 'Join' that room using the room code the host decided upon when creating the room. Then when the room is
			full with players the host can click 'Start Game.' Then Bob's your uncle, unless he isnt, i dont know your
			family</p>
		<p>This games rules are notoriously open to interperation. As such I've included a rules overview in the about
			page to explain the rules this game was written to enforce. This project is always open for collaborators.
			If you have a house rule you want to control feel free to open a pull request on GitHub.</p>
	</div>
</div>
<%- include partials/footer.ejs %>