.hand {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    input {
        display: none;
    }

    label {
        position: relative;
        display: inline-block;
        overflow: hidden;
        top: 0;
        tranistion: 0.2s ease;
        cursor: pointer;
    }
}

input.card:checked+label {
    top: -30px;
}

.table {
    * {
        display: inline-block;
    }
}